<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiwen.workload.mapper.KhfsbMapper">


    <sql id="selectKhfsbVo">
        select id, verss, isdel, createtime, createuse, updatetime, updateuse, yhid, nd, zfs from wf_rykhfsb
    </sql>

    <select id="selectKhfsbList" parameterType="com.xiwen.workload.domain.Khfsb" resultType="com.xiwen.workload.domain.Khfsb">
        SELECT khfsb.id, khfsb.verss, khfsb.isdel, khfsb.createtime, khfsb.createuse,
        khfsb.updatetime, khfsb.updateuse, u.user_id yhid, ifnull(khfsb.nd, #{nd}) as nd, u.nick_name yhxm,
        dept.dept_name bmmc, ifnull(khfsb.zfs,0) as zfs
        FROM sys_user u
        left join (select * from wf_rykhfsb where nd=#{nd}) khfsb on u.user_id=khfsb.yhid
        left join sys_dept dept on dept.dept_id = u.dept_id
        where u.del_flag = 0 and u.user_name != 'admin'
        <if test="yhxm != null  and yhxm != ''"> and u.nick_name like concat('%', #{yhxm}, '%')</if>
        <if test="minfs != null  and minfs != ''"> and khfsb.zfs <![CDATA[ >= ]]> #{minfs}</if>
        <if test="maxfs != null  and maxfs != ''"> and khfsb.zfs <![CDATA[ <= ]]> #{maxfs}</if>
    </select>

    <select id="selectKhfsbById" parameterType="String" resultType="com.xiwen.workload.domain.Khfsb">
        select a.id, a.verss, a.isdel, a.createtime, a.createuse, a.updatetime, a.updateuse, a.yhid, a.nd, a.zfs,
 b.id as sub_id, b.verss as sub_verss, b.isdel as sub_isdel, b.createtime as sub_createtime, b.createuse as sub_createuse, b.updatetime as sub_updatetime, b.updateuse as sub_updateuse, b.rykhfsbid as sub_rykhfsbid, b.fslx as sub_fslx, b.fs as sub_fs, b.ywid as sub_ywid, b.bz as sub_bz
        from wf_rykhfsb a
        left join wf_rykhfsxqb b on b.rykhfsbid = a.id
        where a.id = #{id}
    </select>
    <select id="selectKhfsbByRykhId" parameterType="String" resultType="com.xiwen.workload.domain.Khfsb">
        select a.id, a.verss, a.isdel, a.createtime, a.createuse, a.updatetime, a.updateuse, a.yhid, a.nd, a.zfs
        from wf_rykhfsb a
        where a.id = #{id}
    </select>
    <select id="getKhfsbXq" parameterType="String" resultType="com.xiwen.workload.domain.Khfsxqb">
        SELECT
            xqb.id, date_format(xqb.createtime,'%y-%m-%d') createtimeg, xqb.createuse, xqb.updateuse,
            date_format(xqb.updatetime,'%y-%m-%d') updatetimeg, xqb.fslx,
            CASE xqb.fslx  WHEN '1' THEN '加分'  WHEN '2' THEN '减分'  WHEN '3' THEN '初始化' ELSE '其他'  END AS fslxmc,
            IFNULL( xqb.fs, 0 ) fs, xqb.ywid, xqb.bz, u1.nick_name createUserName, u2.nick_name updateUserName
        FROM wf_rykhfsxqb xqb
        LEFT JOIN wf_rykhfsb fsb ON xqb.rykhfsbid = fsb.id
        LEFT JOIN sys_user u1 ON u1.user_id = xqb.createuse
        LEFT JOIN sys_user u2 ON u2.user_id = xqb.updateuse
        WHERE xqb.isdel = 0  AND xqb.rykhfsbid = #{id}
    </select>

    <insert id="insertKhfsbXq" parameterType="com.xiwen.workload.domain.Khfsxqb">
         insert into wf_rykhfsxqb(id,verss,isdel,createtime,createuse,updateuse,
            updatetime,rykhfsbid,fslx,fs,ywid,bz)
         values(#{id},1,0,sysdate(),#{createuse},#{updateuse},sysdate(),
         #{rykhfsbid},#{fslx},#{fs},#{ywid},#{bz})
    </insert>
    <update id="updateKhfsbXq" parameterType="com.xiwen.workload.domain.Khfsxqb">
        update wf_rykhfsxqb set updateuse=#{updateuse},updatetime=sysdate(),rykhfsbid=#{rykhfsbid},
        fslx=#{fslx},fs=#{fs},ywid=#{ywid},bz=#{bz}
        where id=#{id}
    </update>
    <update id="updateKhfsbByXq" parameterType="com.xiwen.workload.domain.Khfsb">
         update wf_rykhfsb set updatetime=SYSDATE(),updateuse=#{updateuse},zfs=#{zfs}
        where id = #{id}
    </update>


    <insert id="insertKhfsbTe" parameterType="com.xiwen.workload.domain.Khfsb">
        insert into wf_rykhfsb(id,verss,isdel,createtime,createuse,updatetime,updateuse,yhid,nd,zfs)
        values(#{id},1,0,sysdate(),#{createuse},sysdate(),
        #{updateuse},#{yhid},#{nd},#{zfs})
    </insert>
    <insert id="insertKhfsb" parameterType="com.xiwen.workload.domain.Khfsb">
        insert into wf_rykhfsb
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="verss != null">verss,</if>
            <if test="isdel != null">isdel,</if>
            <if test="createtime != null">createtime,</if>
            <if test="createuse != null">createuse,</if>
            <if test="updatetime != null">updatetime,</if>
            <if test="updateuse != null">updateuse,</if>
            <if test="yhid != null">yhid,</if>
            <if test="nd != null">nd,</if>
            <if test="zfs != null">zfs,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="verss != null">#{verss},</if>
            <if test="isdel != null">#{isdel},</if>
            <if test="createtime != null">#{createtime},</if>
            <if test="createuse != null">#{createuse},</if>
            <if test="updatetime != null">#{updatetime},</if>
            <if test="updateuse != null">#{updateuse},</if>
            <if test="yhid != null">#{yhid},</if>
            <if test="nd != null">#{nd},</if>
            <if test="zfs != null">#{zfs},</if>
        </trim>
    </insert>

    <update id="updateKhfsb" parameterType="com.xiwen.workload.domain.Khfsb">
        update wf_rykhfsb
        <trim prefix="SET" suffixOverrides=",">
            <if test="verss != null">verss = #{verss},</if>
            <if test="isdel != null">isdel = #{isdel},</if>
            <if test="createtime != null">createtime = #{createtime},</if>
            <if test="createuse != null">createuse = #{createuse},</if>
            <if test="updatetime != null">updatetime = #{updatetime},</if>
            <if test="updateuse != null">updateuse = #{updateuse},</if>
            <if test="yhid != null">yhid = #{yhid},</if>
            <if test="nd != null">nd = #{nd},</if>
            <if test="zfs != null">zfs = #{zfs},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteKhfsbById" parameterType="String">
        delete from wf_rykhfsb where id = #{id}
    </delete>

    <delete id="deleteKhfsbByIds" parameterType="String">
        delete from wf_rykhfsb where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteKhfsxqbByRykhfsbids" parameterType="String">
        delete from wf_rykhfsxqb where rykhfsbid in
        <foreach item="rykhfsbid" collection="array" open="(" separator="," close=")">
            #{rykhfsbid}
        </foreach>
    </delete>

    <delete id="deleteKhfsxqbByRykhfsbid" parameterType="String">
        delete from wf_rykhfsxqb where rykhfsbid = #{rykhfsbid}
    </delete>

    <insert id="batchKhfsxqb">
        insert into wf_rykhfsxqb( id, verss, isdel, createtime, createuse, updatetime, updateuse, rykhfsbid, fslx, fs, ywid, bz) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.verss}, #{item.isdel}, #{item.createtime}, #{item.createuse}, #{item.updatetime}, #{item.updateuse}, #{item.rykhfsbid}, #{item.fslx}, #{item.fs}, #{item.ywid}, #{item.bz})
        </foreach>
    </insert>
</mapper>